<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">

        <div class="navbar-nav theme-brand flex-row  text-center">
            <div class="nav-logo">
                <div class="nav-item theme-logo">
                    <a href="/">
                        <img src="/src/assets/img/logo.svg" class="navbar-logo" alt="logo">
                    </a>
                </div>
                <div class="nav-item theme-text">
                    <a href="/" class="nav-link"> 폐차고 </a>
                </div>
            </div>
            <div class="nav-item sidebar-toggle">
                <div class="btn-toggle sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                </div>
            </div>
        </div>
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu active"></li>
            <li class="menu">
                <a href="/notice" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Notice management</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/review" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Review management</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="#reception-history" aria-expanded="false" class="dropdown-toggle" style="pointer-events:none;">
                    <div class="">
                        <span>Reception history management</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled" id="reception-history"
                    data-bs-parent="#accordionExample">
                    <li>
                        <a href="/export-request"> Export request </a>
                    </li>
                    <li>
                        <a href="/disposal-request"> Disposal request </a>
                    </li>
                    <li>
                        <a href="/supplier-request"> Supplier request </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="/image-setting" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Image settings</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/car-information" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Car information management</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/subsidiary-material" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Subsidiary material management</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/users" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>User management</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/supplier-user" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Supplier User management</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/change-password" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Change password</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a onclick="alert('로그아웃')" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <span>Log out</span>
                    </div>
                </a>
            </li>
        </ul>
        
    </nav>

</div>
<!--  END SIDEBAR  -->