<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">

        <div class="navbar-nav theme-brand flex-row  text-center">
            <div class="nav-logo">
                <div class="nav-item theme-logo">
                    <a href="/">
                        <img src="/src/assets/img/logo.svg" class="navbar-logo" alt="logo">
                    </a>
                </div>
                <div class="nav-item theme-text">
                    <a href="/" class="nav-link"> 폐차고 </a>
                </div>
            </div>
            <div class="nav-item sidebar-toggle">
                <div class="btn-toggle sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevrons-left">
                        <polyline points="11 17 6 12 11 7"></polyline>
                        <polyline points="18 17 13 12 18 7"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu active"></li>
            <% if(user.permission1&&(user.permission1.data[0]&0b0100)) { %>
                <li class="menu">
                    <a href="/notice" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>공지사항</span>
                        </div>
                    </a>
                </li>
                <% } %>

                    <% if(user.permission2&&(user.permission2.data[0]&0b0100)) { %>
                        <li class="menu">
                            <a href="/review" aria-expanded="false" class="dropdown-toggle">
                                <div class="">
                                    <span>후기 관리</span>
                                </div>
                            </a>
                        </li>
                        <% } %>

                            <% if((user.permission3_1===undefined) || (user.permission3_1.data[0]&0b0100)) { %>
                                <li class="menu">
                                    <a href="/disposalClients" aria-expanded="false" class="dropdown-toggle">
                                        <div class="">
                                            <span>폐차 고객 관리</span>
                                        </div>
                                    </a>
                                    <ul class="submenu list-unstyled" data-bs-parent="#accordionExample">
                                        <li>
                                            <a href="/disposalEstimate" aria-expanded="false" class="dropdown-toggle">
                                                <div class="">
                                                    <span>견적 신청 고객</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/disposalRequest" aria-expanded="false" class="dropdown-toggle">
                                                <div class="">
                                                    <span>회수 요청 고객</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <% } %>

                                    <% if((user.permission3_2===undefined) || (user.permission3_2.data[0]&0b0100)) { %>
                                        <li class="menu">
                                            <a href="/exportClients" aria-expanded="false" class="dropdown-toggle">
                                                <div class="">
                                                    <span>수출 고객 관리</span>
                                                </div>
                                            </a>
                                            <ul class="submenu list-unstyled" data-bs-parent="#accordionExample">
                                                <li>
                                                    <a href="/exportEstimate" aria-expanded="false"
                                                        class="dropdown-toggle">
                                                        <div class="">
                                                            <span>견적 신청 고객</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/exportRequest" aria-expanded="false"
                                                        class="dropdown-toggle">
                                                        <div class="">
                                                            <span>회수 요청 고객</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <% } %>

                                            <% if(user.permission4&&(user.permission4.data[0]&0b0010)) { %>
                                                <li class="menu">
                                                    <a href="/imageSetting" aria-expanded="false"
                                                        class="dropdown-toggle">
                                                        <div class="">
                                                            <span>앱 이미지 설정</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <% } %>

                                                    <% if(user.permission5&&(user.permission5.data[0]&0b0100)) { %>
                                                        <li class="menu">
                                                            <a href="/carInfo" aria-expanded="false"
                                                                class="dropdown-toggle">
                                                                <div class="">
                                                                    <span>차량 정보 관리</span>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <% } %>

                                                            <% if(user.permission6&&(user.permission6.data[0]&0b0100)) {
                                                                %>
                                                                <li class="menu">
                                                                    <a href="/parts" aria-expanded="false"
                                                                        class="dropdown-toggle">
                                                                        <div class="">
                                                                            <span>부속품 정보 관리</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                                    <% if (user.userid=='admin' ) { %>
                                                                        <li class="menu">
                                                                            <a href="/users" aria-expanded="false"
                                                                                class="dropdown-toggle">
                                                                                <div class="">
                                                                                    <span>직원 관리</span>
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>

                                                                            <% if(user.permission7&&(user.permission7.data[0]&0b0100))
                                                                                { %>
                                                                                <li class="menu">
                                                                                    <a href="/supplierUsers"
                                                                                        aria-expanded="false"
                                                                                        class="dropdown-toggle">
                                                                                        <div class="">
                                                                                            <span>협력사 관리</span>
                                                                                        </div>
                                                                                    </a>
                                                                                </li>
                                                                                <% } %>

                                                                                    <li class="menu">
                                                                                        <a href="/accounts/changePassword"
                                                                                            aria-expanded="false"
                                                                                            class="dropdown-toggle">
                                                                                            <div class="">
                                                                                                <span>비밀번호 변경</span>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>

                                                                                    <li class="menu">
                                                                                        <a href="/accounts/logout"
                                                                                            aria-expanded="false"
                                                                                            class="dropdown-toggle">
                                                                                            <div class="">
                                                                                                <span>Log out</span>
                                                                                            </div>
                                                                                        </a>
                                                                                    </li>
        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->