<html lang="ko">

<head>
  <meta charset="euc-kr">
  <title>본인인증 통합창</title>
  <script type="text/javascript">
    function page_link4() {
      // window.open("", "privde", "height=0, width=0");
      // document.provideHashFromFixed.target = "privde";
      document.provideHashFromFixed.submit();
    }
  </script>
</head>

<body>
  <!-- 개발 서버 : https://14.35.194.170:8080/aio365/provide/ProvideContent.do -->
  <!-- 운영 서버 : https://car365.go.kr/aio365/provide/ProvideContent.do -->
  <!-- <form id="provideHashFromFixed" name="provideHashFromFixed" method="post" action="https://14.35.194.170:8080/aio365/provide/ProvideContent.do"> -->
  <!-- 개발 -->
  <form id="provideHashFromFixed" name="provideHashFromFixed" method="post" action="https://car365.go.kr/aio365/provide/ProvideContent.do">
    <!-- 운영 -->
    <% for(key of Object.keys(fixedMap)) { %>
    <input type='hidden' name='<%= key %>' id='<%= key %>' value='<%= fixedMap[key] %>'>
    <% } %>
    <input hidden name='carOwner' id='carOwner' placeholder="소유자명">
    <input hidden name='carRegNo' id='carRegNo' placeholder="차량번호">
  </form>

  <div hidden>
    <table>
      <caption>서비스 이동</caption>
      <tbody>
        <tr>
          <td>TS 첨부형 API 본인인증서비스</td>
          <td><button type="button" onclick="javascript:page_link4();">확인</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
  <script type="text/javascript">
    page_link4();
  </script>
</html>
