<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

    <%- include ("../partials/loader.ejs") %>

        <div class="auth-container d-flex">

            <div class="container mx-auto align-self-center">

                <div class="row">
                    <div class="col-xxl-4 d-flex flex-row align-self-center mx-auto"
                        style="justify-content: space-between;">
                        <div class="card mt-3 mb-3">
                            <button type="button" onclick="location.href = '/users/login';"
                                style="width:200px; height: 200px; font-size: 20px;" class="btn btn-primary">
                                직원 로그인
                            </button>
                        </div>
                        <div class="card mt-3 mb-3">
                            <button type="button" onclick="location.href = '/supplierusers/login';"
                                style="width:200px; height: 200px; font-size: 20px;" class="btn btn-primary">
                                협력업체 로그인
                            </button>
                        </div>

                    </div>

                </div>

            </div>
            
            <%- include ("../partials/commonScrpits.ejs") %>

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>